body {
  margin: 0 0 0 0;
}
.header {
  background-image: url("./rrr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.navbar {
  padding: 20px;
}
.item {
  display: inline;
  font-weight: 700;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 15px;
  text-align: center;
  height: 20px;
  align-content: flex-end;
}
.brand {
  display: inline;
  font-weight: 700;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 15px;
  text-align: center;
  height: 20px;
}
span {
  color: chocolate;
}

.contant {
  padding-top: 60px;
  padding-bottom: 300px;
  margin: 60px;
}
button {
  padding: 15px;
  text-align: center;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: black;
  border-radius: 10%;
  font-size: 20px;
}
.bold {
  font-weight: 900;
  font-size: 40px;
  font-family: sans-serif;
}
.p1 {
  font-weight: 600;
  line-height: 1.2em;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.aboutus {
  text-align: center;
  padding: 15px 25% 0 25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p2 {
  font-weight: 550;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-top: 4px solid chocolate;
  max-width: 210px;
  margin: auto;
  text-align: center;
  text-align: left;
  padding: 20px 10px 20px 10px;
  display: inline-block;
  margin: 20px;
}
.second {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.cen {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

svg {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  right: 50%;
}
.imggirl {
  width: 100px;
  border-radius: 50%;
  float: left;
  padding: 10px 30px 0px 30px;
}
.in {
  padding: 10px 20px 20px 20px;
  background-color: white;
}
.out {
  background-color: darkgrey;
  padding: 30px;
  padding: 50px 15% 50px 15%;
}
.meet {
  padding: 0 0 0px 20px;
  margin: 0%;
}

.describe {
  padding-top: 50px;
  font-weight: 700;
}

.pictit {
  padding: 10px 20px 20px 20px;
  background-color: white;
  padding: 30px;
  font-weight: 900;
  height: 60px;
}
.rightside {
  width: 40%;
  display: inline-block;
}
.girlside {
  width: 40%;
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
}
.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
}
.vl {
  border-left: 2px solid;
  height: 400px;
  display: inline-block;
  padding: 0px 50px 20px 20px;
  margin-left: 30px;
}
.horsedes {
  font-weight: 700;
}
.under {
  color: yellow;
  width: 200px;
  margin-left: 10px;
  border-color: yellow;
  margin-bottom: 30px;
}
